
  .column {
    float: left;
    width: 23%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column1{
    float: left;
    width: 40%;
  }
  .row1::after{
    content: "";
    display: table;
    clear: both;
  }
  footer{
    background-color: rgb(142, 220, 243);
    text-align: center;
    color: aliceblue;
  }
  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
  * {
    box-sizing: border-box;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }